.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: flex-start;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 0;
}
.container > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.container > .content {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: flex-start;
  top: 6rem;
  left: 0;
  position: relative;
  height: 754px;
  padding: 35px;
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
}
.container > .content > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.container > .content > .snb_area {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: flex-start;
  margin-right: 20px;
  width: 180px;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
}
.container > .content > .snb_area > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.container > .content > .snb_area > .nuxt-link-active {
  text-decoration: none;
  color: inherit;
  width: 100%;
}
.container > .content > .snb_area > .nuxt-link-active > .title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.15px;
  line-height: 29px;
  padding-bottom: 30px;
  margin: 0;
  box-sizing: border-box;
}
.container > .content > .snb_area > .snb {
  box-sizing: border-box;
  width: 100%;
}
.container > .content > .snb_area > .snb > .snb_list {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container > .content > .snb_area > .snb > .snb_list:nth-child(2) {
  margin-top: 40px;
}
.container > .content > .snb_area > .snb > .snb_list > .snb_title {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.27px;
  line-height: 22px;
  margin-bottom: 12px;
  vertical-align: top;
  box-sizing: border-box;
}
.container > .content > .snb_area > .snb > .snb_list > .snb_menu {
  list-style-type: none;
  box-sizing: border-box;
  gap: 1rem;
}
.container > .content > .snb_area > .snb > .snb_list > .snb_menu > .menu_item {
  box-sizing: border-box;
  width: 100%;
}
.container > .content > .snb_area > .snb > .snb_list > .snb_menu > .menu_item:nth-child(n+2) {
  margin-top: 12px;
}
.container > .content > .snb_area > .snb > .snb_list > .snb_menu > .menu_item > .menu_link {
  color: rgba(34, 34, 34, 0.5);
  font-size: 15px;
  letter-spacing: -0.15px;
  line-height: 18px;
  text-decoration: none;
}
.container > .content > .snb_area > .snb > .snb_list > .snb_menu > .menu_item > .menu_link.requestPage {
  color: #222;
  font-weight: 700;
}
.container > .content > .content_area {
  flex: 1;
}
.container > .content > .content_area > .my_profile {
  margin: 0;
  padding-top: 20px;
  box-sizing: border-box;
  width: 480px;
}
.container > .content > .content_area > .my_profile > .content_title {
  padding-bottom: 16px;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_profile > .content_title > .title {
  font-size: 24px;
  letter-spacing: -0.36px;
}
.container > .content > .content_area > .my_profile > .content_title > .title > h3 {
  font-size: inherit;
  line-height: 29px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.container > .content > .content_area > .my_profile > .registered {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  background-color: #fafafa;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  box-sizing: border-box;
  justify-content: space-between;
  margin-top: 21px;
  overflow: hidden;
  padding: 15px 15px 16px;
}
.container > .content > .content_area > .my_profile > .registered > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.container > .content > .content_area > .my_profile > .registered > .box {
  margin: 0;
  padding: 0;
}
.container > .content > .content_area > .my_profile > .registered > .box > .box_title {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 14px;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_profile > .registered > .delete {
  color: #909090;
  cursor: pointer;
  font-size: 14px;
  height: 17px;
  margin-left: 10px;
  width: 25px;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_profile > .accountregistration {
  margin: 0;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_profile > .accountregistration > .input_box {
  position: relative;
  padding: 16px 0 14px 0;
  margin: 0;
  box-sizing: border-box;
  width: 480px;
}
.container > .content > .content_area > .my_profile > .accountregistration > .input_box > .input_title {
  line-height: 14px;
  font-size: 13px;
  letter-spacing: -0.7px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_profile > .accountregistration > .input_box > .--obj-label {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_profile > .accountregistration > .input_box > .--obj-label > .input_txt {
  padding: 6px 0 7px 0;
  border-bottom: 1px solid #ebebeb;
  font-size: 15px;
  letter-spacing: -0.15px;
  line-height: 22px;
  width: 100%;
  background-color: transparent;
}
.container > .content > .content_area > .my_profile > .accountregistration > .input_box > .--obj-label > .btn {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  background-color: #ffffff;
  cursor: pointer;
  vertical-align: middle;
  outline: none;
  box-sizing: border-box;
  line-height: 0;
  margin-top: -12px;
  position: absolute;
  right: 0;
  top: 50%;
}
.container > .content > .content_area > .my_profile > .accountregistration > .input_box > .--obj-label > .btn > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.container > .content > .content_area > .my_profile > .accountregistration > .input_box > .--obj-label > .btn > .image {
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
}
.container > .content > .content_area > .my_profile > .accountregistration > .input_box > .--obj-label > .layerDropdown {
  top: 25px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  position: absolute;
  bottom: auto;
  left: 0;
  z-index: 10;
  width: 100%;
  margin: 0;
  padding: 0;
  display: none;
}
.container > .content > .content_area > .my_profile > .accountregistration > .input_box > .--obj-label > .layerDropdown > .layer-background {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_profile > .accountregistration > .input_box > .--obj-label > .layerDropdown > .layer_container {
  box-shadow: none;
  left: auto;
  position: relative;
  top: auto;
  transform: none;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.container > .content > .content_area > .my_profile > .accountregistration > .input_box > .--obj-label > .layerDropdown > .layer_container > .layer_content {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_profile > .accountregistration > .input_box > .--obj-label > .layerDropdown > .layer_container > .layer_content > .drop_list {
  max-height: 240px;
  overflow-y: auto;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_profile > .accountregistration > .input_box > .--obj-label > .layerDropdown > .layer_container > .layer_content > .drop_list > .drop_item {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_profile > .accountregistration > .input_box > .--obj-label > .layerDropdown > .layer_container > .layer_content > .drop_list > .drop_item > .drop_link {
  color: rgba(34, 34, 34, 0.8);
  display: block;
  font-size: 13px;
  letter-spacing: -0.07px;
  padding: 11px 50px 10px 16px;
  position: relative;
  text-decoration: none;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_profile > .accountregistration > .input_box > .--obj-label > .layerDropdown.-visible {
  display: block;
}
.container > .content > .content_area > .my_profile > .accountregistration > .input_box > .--obj-label.-invalid > ._warning {
  color: #e74c3c;
  display: block;
  font-size: 0.8rem;
}
.container > .content > .content_area > .my_profile > .accountregistration > .registrationbtn {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  padding-top: 20px;
  box-sizing: border-box;
  width: 480px;
}
.container > .content > .content_area > .my_profile > .accountregistration > .registrationbtn > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.container > .content > .content_area > .my_profile > .accountregistration > .registrationbtn > .button {
  border-radius: 10px;
  width: 102px;
  background-color: #222222;
  color: #ffffff;
  font-weight: 400;
  height: 42px;
  cursor: pointer;
}
.container > .content > .content_area > .my_profile > .accountregistration > .registrationbtn > .button:hover {
  background-color: rgb(46.75, 46.75, 46.75);
}
.container > .content > .content_area > .my_profile > .accountregistration > .registrationbtn > .button:active {
  background-color: rgb(59.5, 59.5, 59.5);
}
.container > .content > .content_area > .my_profile > .accountregistration > .registrationbtn > .modifybtn {
  border-radius: 10px;
  width: 102px;
  background-color: #222222;
  color: #ffffff;
  font-weight: 400;
  height: 42px;
  cursor: pointer;
}
.container > .content > .content_area > .my_profile > .accountregistration > .registrationbtn > .modifybtn:hover {
  background-color: rgb(46.75, 46.75, 46.75);
}
.container > .content > .content_area > .my_profile > .accountregistration > .registrationbtn > .modifybtn:active {
  background-color: rgb(59.5, 59.5, 59.5);
}

/*# sourceMappingURL=account.css.map */
