<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KREAM</title>
    <link rel="shortcut icon" th:href="@{'/assets/images/favicon.ico'}">
    <link rel="stylesheet" th:href="@{'/home/assets/styles/index.css'}" type="text/css">
    <link rel="stylesheet" th:href="@{'/assets/styles/common.css'}" type="text/css">
    <script defer th:src="@{'/assets/scripts/common.js'}" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/20d32b3086.js" crossorigin="anonymous"></script>
</head>
<body>
<th:block th:replace="~{fragments/common.html :: header}"></th:block>
<main id="main">
    <div class="banner">
        <img class="banner-image" alt="banner" src="/home/assets/images/banner_img.png">
    </div>
    <div class="main-container">
        <div class="home-products-title">
            <div class="title-us">Most Popular</div>
            <div class="title-ko">인기상품</div>
        </div>
        <div class="error-list" th:if="${popularProducts == null || popularProducts.isEmpty()}">
            <div class="error">
                <i class="fa-solid fa-triangle-exclamation"></i>
                인기상품을 불러오는 데 문제가 발생했습니다. 관리자에게 문의해 주세요.</div>
        </div>
        <ul class="home-products-list">
            <li class="products-item"  th:if="${popularProducts != null}" th:each="popularProduct : ${popularProducts}">
                <a th:href="@{'/product?id=' + ${popularProduct.getProductId()}}" class="product-image">
                    <span class="trading" th:if="${popularProduct.getTransactionCount() != 0}">
                        <span class="text">거래</span>
                        <span class="text" th:text="${popularProduct.getTransactionCount()}"></span>
                    </span>
                    <img class="image" alt="popular-product-image" th:src="${popularProduct.getBase64Image()}">
                </a>
                <span class="product-text">
                    <span class="text-container">
                        <span class="brand" th:text="${popularProduct.getBrand()}"></span>
                        <span class="product-name" th:text="${popularProduct.getProductNameEn()}"></span>
                    </span>
                    <span class="price" th:text="${popularProduct.getLowestPrice() != 0 ? #numbers.formatInteger(popularProduct.getLowestPrice(), 0, 'COMMA') + '원' : '-'}"></span>
                </span>
            </li>
        </ul>
    </div>
    <div class="main-container">
        <div class="home-products-title">
            <div class="title-us">New In</div>
            <div class="title-ko">신규 등록 상품</div>
        </div>
        <div class="error-list" th:if="${newProducts == null}">
            <div class="error">
                <i class="fa-solid fa-triangle-exclamation"></i>
                신규상품을 불러오는 데 문제가 발생했습니다. 관리자에게 문의해 주세요.
            </div>
        </div>
        <div class="error-list" th:if="${newProducts.isEmpty()}">
            <div class="error">
                <i class="fa-solid fa-triangle-exclamation"></i>
                신규 등록 상품이 없습니다.
            </div>
        </div>
        <ul class="home-products-list">
            <li class="products-item" th:if="${newProducts != null}" th:each="newProduct : ${newProducts}">
                <a th:href="@{'/product?id=' + ${newProduct.getProductId()}}" class="product-image">
                    <span class="trading" th:if="${newProduct.getTransactionCount() != 0}">
                        <span class="text">거래</span>
                        <span class="text" th:text="${newProduct.getTransactionCount()}"></span>
                    </span>
                    <img class="image" alt="new-product-image" th:src="@{${newProduct.getBase64Image()}}">
                </a>
                <span class="product-text">
                    <span class="text-container">
                        <span class="brand" th:text="${newProduct.getBrand()}"></span>
                        <span class="product-name" th:text="${newProduct.getProductNameEn()}"></span>
                    </span>
                    <span class="price" th:text="${newProduct.getLowestPrice() != 0 ? #numbers.formatInteger(newProduct.getLowestPrice(), 0, 'COMMA') + '원' : '-'}"></span>
                </span>
            </li>
        </ul>
    </div>
</main>
<th:block th:replace="~{fragments/common.html :: footer}"></th:block>
</body>
</html>